body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 2rem;
}

section {
  padding: 2rem;
}

footer {
  background: #ddd;
  text-align: center;
  padding: 1rem;
}
